@font-face {
  font-family: 'Letters for Learners';
  src: url(/font/LettersforLearners.woff2) format(woff2),
    url(/font/Letters-for-Learners.ttf) format(truetype)
}

.map {
  width: 100%;
  height: 100%;
}

/* ------- POP UP BIENVENUE ---------- */

.card-bienvenue {

  color: #000;
  font-weight: 400;
  font-family: 'Roboto condensed';
  font-size: 1.2rem;
  text-align: center; 

}



@media screen and (width <= 600px) {
  p.titre-bienvenue{
    color: #000;
  font-family: 'Letters for Learners';
  font-size: 10vw;
  }
}

@media screen and (width > 600px) {
  p.titre-bienvenue {
    color: #000;
    font-family: 'Letters for Learners';
    font-size: 3.5vw;
  }
}

@media screen and (width <= 600px) {
  p.text-bienvenue{

  font-size: 5vw;
  margin-bottom : 3rem;
  }
}

@media screen and (width > 600px) {
  p.text-bienvenue {
    color: #000;
    font-size: 1.2rem;
    margin-bottom : 3rem;
  }
}



p.texte-bienvenue {

  color: #000;
  font-weight: 400;
  font-family: 'Roboto condensed';
  font-size: 1.2rem;
  text-align: left; 
}

span.start {


  margin: 5px;
  padding:3px 14px 3px 14px;
  background-color : #FF3D94;
  border-radius: 3rem;
  white-space : nowrap;
  color : white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  transition: all 0.5s 0.1s;
}

span.start:hover {

filter: brightness(150%);
transition: 0.2s;
cursor: pointer;

}

span.start:active {
  background-color: #ce3278;
  box-shadow: 0px 0px 0px #00000069;
  transform: translateY(5px);
  transition: 0.2s;
  font-size: 1.1rem;

  
}

span.carte {


  margin: 5px;
  padding:3px 14px 3px 14px;
  background-color : #12d6d6;
  border-radius: 3rem;
  white-space : nowrap;
  color : white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  transition: all 0.5s 0.1s;
}

span.carte:hover {

filter: brightness(150%);
transition: 0.2s;
cursor: pointer;

}

span.carte:active {
  background-color: #11bbbb;
  box-shadow: 0px 0px 0px #00000069;
  transform: translateY(5px);
  transition: 0.2s;
  font-size: 1.1rem;

  
}

/* ------- POP UP PRÉSENTATION ---------- */

.card-intro {

  color: #000;
  font-weight: 400;
  font-family: 'Roboto condensed';
  font-size: 1rem; 
  padding: 1.5rem;
  text-align: justify;
  

}

h1.titre-intro {
  color: #000;
font-family: 'Letters for Learners';
font-size: 1.6rem !important;
}


p.align-left {
  text-align: left;
}

span.link {


  margin: 5px;
  padding:3px 14px 3px 14px;
  background-color : #3db5ff;
  border-radius: 3rem;
  white-space : nowrap;
  color : white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  transition: all 0.5s 0.1s;
}

span.link:hover {

filter: brightness(120%);
transition: 0.2s;
cursor: pointer;

}

span.link:active {
  background-color: #3090cc;
  box-shadow: 0px 0px 0px #00000069;
  transform: translateY(3px);
  transition: 0.2s;
  font-size: 0.8rem;

  
}

span.link a {
  color :rgb(255, 255, 255);
  text-decoration: none;

  
}

span.signature {
  color :rgb(255, 255, 255);
  text-decoration: none;
  background-color: #ffc720 !important;
  margin-left: 35%;
  text-align: center !important;
  
}

span.signature:active {
  background-color: #d8a81b !important;

}

span.insta {
  color :rgb(255, 255, 255);
  text-decoration: none;
  background-color: #ff208c !important;

}

span.insta:active {
  background-color: #ce1b71 !important;

}

span.edition {
  color :rgb(255, 255, 255);
  text-decoration: none;
  background-color: #0FDBCA !important;
 
}

span.edition:active {
  background-color: #0cb6a8 !important;

}

span.video {
  color :rgb(255, 255, 255);
  text-decoration: none;
  background-color: #9DCC4E !important;
 
}

span.video:active {
  background-color: #7ea33f !important;

}

.img-left {

  float : left;
}

.img-right {

  float : right;
  margin-right: 3rem;
  margin-top: -2rem;
}

.intro-footer {

  color: #000;
  font-weight: 400;
  font-family: 'Roboto condensed';
  font-size: 0.8rem; 
  padding: 1.5rem;
  text-align: justify;

}

.intro-footer a {

  color: #000;
  text-decoration: none;

}

.intro-footer a:hover {

  color: #000;
  text-decoration: none;
  padding:3px 14px 3px 14px;
  background-color : #cccccc;
  border-radius: 3rem;
  color : white !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  transition: 0.5s;
}


.intro-footer a:visited {

  color: #000;
}

/* ------- HEADER ---------- */

.header-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-bar {
  width: 40rem;
  height: 30pt;
  display: flex;
  max-width: 100%;
  border-width: 1px;
  border-color: rgb(202, 202, 202);
}

.search-bar-input {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.title {
  width: 500px;
  max-width:100%;
}

.btn {
  border-radius: 4rem;
}

.preview {
  width: 6em;
  height: 6em;
}

.btn-nav {
  margin-right: 20pt;
}

.btn-round {
  margin-top: 10pt;
  margin-bottom: 10pt;
  border-width: 0px;
  border-style: hidden;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 40pt !important;
  height: 40pt !important;
  transition: all 0.75s 0.1s;
}

.btn-round:hover {

background-color: #005392;
transition: 0.2s;

}

.btn-round:active {
  background-color: #03406e;
  box-shadow: 0px 0px 0px #00000069;
  transform: translateY(5px);
  transition: 0.2s;
}

@media screen and (width <= 600px) {
  .card-container {
    width: 100%;
    height: 100% !important;
  }
}

@media screen and (width > 600px) {
  .card-container {
    width: 30rem;
    max-width: 100%;
    max-height: 40%;
    margin-bottom: 4rem;
    bottom: 0;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

.about-container {
  width: 50rem;
  height: 40rem;
  max-width: 90%;
  max-height: 90%;
  background-color: white;
  border-radius: 10pt;
}

.info {
  display: none;
  background-color: white;
  padding: 1rem;
  height: 100%;
  border-radius: 1rem;
  pointer-events: auto;
  border: 0;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  /* Firefox */
  -webkit-animation: fadein 0.6s;
  /* Safari et Chrome */
  -o-animation: fadein 0.6s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;

  }
}

@-moz-keyframes fadein {

  /* sur Firefox */
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* sur Safari et Chrome */
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* sur Opera */
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;
    margin-top: auto;
  }
}

.feature-tags {
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.feature-day {
  font-size: smaller;
  color: #000;
  margin-left: 0.2rem;
  font-family: 'Letters for Learners';
  font-size: 2.2rem;
}

.feature-date {
  font-size: smaller;
  color: #000;
  font-weight: 400;
  margin-left: 1rem;
  font-family: 'Roboto condensed';
  font-size: 1.2rem;
}

.info-desc {
  font-size: medium;
  font-family: 'Roboto condensed';
}

.bouton-info {
  border-radius: 1.5rem;
  border: none;
  font-family: 'Roboto condensed';
  color: #FFFFFF;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  /* margin: 5px; */
}

.bouton-info:hover {
  filter: brightness(150%);
}

.bouton-info:active {
  transform: translateY(4px);
  filter: brightness(80%);
  transition: 0.2s;
}




.bouton-post {
  background-color: #FF6E6E;
}

/* */

.bouton-prev {
  background-color: #6e8bff;
}


.bouton-prev span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bouton-prev span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.bouton-prev:hover span {
  padding-left: 25px;
}


.bouton-prev:hover span:after {
  opacity: 1;
  left: 0;
}

/* */

.bouton-next {
  background-color: #6e8bff;
  
}


.bouton-next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bouton-next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}



@media screen and (width > 600px) {
  .bouton-next:hover span {
    padding-right: 25px;
  }
}

@media screen and (width > 600px) {
  .bouton-next:hover span:after {
    opacity: 1;
    right: 0;
  }
}

/* Catégories */

.reset-button img {
  width: 15px;
  height: 15px;
}

.category-list {
  overflow-x:auto;
  margin-left: 1rem;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

@media screen and (max-width: 600px) {
  #optional-buttons {
    visibility: hidden;
  }
}

.reset-button {
  height: 30pt;
  width: 30pt;
  background-color: #005392;
  color: white;
  border-radius: 100%;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  border : none;
  transition: all 0.75s 0.25s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.reset-button:hover {
  filter: brightness(150%);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.reset-button:active {

  background-color: #03406e;
  box-shadow: 0px 0px 0px #00000069;
  transform: translateY(4px);
  transition: 0.2s;
}

.category {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  color: white;
  font-family: 'Roboto Condensed';
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  border: 3px solid rgba(255, 255, 255, 0);
  transform: translateY(0px);
  transition: 0.2s;
}

.category:hover {
  filter: brightness(150%);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.category-active {
  border: 3px solid rgb(255, 255, 255);
  transform: translateY(4px);
  transition: 0.2s;

}


.nourriture {
  background-color: #FEEA00;
}

.voyage {
  background-color: #0FDBCA;
}

.quotidien {
  background-color: #9DCC4E;
}

.culture {
  background-color: #186B57;
}

.sortie {
  background-color: #6E2DBE;
}

.balade {
  background-color: #BC9BDB;
}

.anecdote {
  background-color: #FF3D94;
}