@font-face {
  font-family: 'Letters for Learners';
  src: url(/font/LettersforLearners.woff2) format(woff2),
    url(/font/Letters-for-Learners.ttf) format(truetype)
}

.map {
  width: 100%;
  height: 100%;
}

.search-bar {
  width: 40rem;
  height: 30pt;
  display: flex;
  max-width: 100%;
  border-width: 1px;
  border-color: rgb(202, 202, 202);
  padding-left: 1rem;
  padding-right: 1rem;
}

.search-bar-input {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.title {
  width: 500px;
  max-width:100%;
}

.btn {
  border-radius: 4rem;
}

.preview {
  width: 6em;
  height: 6em;
}

.btn-nav {
  margin-right: 20pt;
}

.btn-round {
  margin-top: 10pt;
  margin-bottom: 10pt;
  border-width: 0px;
  border-style: hidden;
  background-color: white;
  border-radius: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 40pt !important;
  height: 40pt !important;
}

@media screen and (width <= 600px) {
  .card-container {
    width: 100%;
    height: 100% !important;
  }
}

@media screen and (width > 600px) {
  .card-container {
    width: 30rem;
    max-width: 100%;
    max-height: 40%;
    margin-bottom: 4rem;
    bottom: 0;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

.info {
  display: none;
  background-color: white;
  padding: 1rem;
  height: 100%;
  border-radius: 1rem;
  pointer-events: auto;
  border: 0;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  /* Firefox */
  -webkit-animation: fadein 0.6s;
  /* Safari et Chrome */
  -o-animation: fadein 0.6s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;

  }
}

@-moz-keyframes fadein {

  /* sur Firefox */
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* sur Safari et Chrome */
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* sur Opera */
  from {
    opacity: 0;
    margin-top: 3em;
  }

  to {
    opacity: 1;
    margin-top: auto;
  }
}

.feature-tags {
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.feature-day {
  font-size: smaller;
  color: #000;
  margin-left: 0.2rem;
  font-family: 'Letters for Learners';
  font-size: 2.2rem;
}

.feature-date {
  font-size: smaller;
  color: #000;
  font-weight: 400;
  margin-left: 1rem;
  font-family: 'Roboto condensed';
  font-size: 1.2rem;
}

.info-desc {
  font-size: medium;
  font-family: 'Roboto condensed';
}

.bouton-post {
  border-radius: 1.5rem;
  background-color: #FF6E6E;
  border: none;
  font-family: 'Roboto condensed';
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.bouton-post span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bouton-post span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bouton-post:hover span {
  padding-right: 25px;
}

.bouton-post:hover span:after {
  opacity: 1;
  right: 0;
}

/* Catégories */

.reset-button img {
  width: 15px;
  height: 15px;
}

.category-list {
  overflow-x:auto;
  margin-left: 1rem;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

@media screen and (max-width: 600px) {
  #optional-buttons {
    visibility: hidden;
  }
}

.reset-button {
  height: 30pt;
  width: 30pt;
  background-color: #005392;
  color: white;
  border-radius: 100%;
  margin-left: 0.5rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  border : none;
  transition: all 0.75s 0.25s;
}

.reset-button:hover {
  filter: brightness(150%);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.category {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  color: white;
  font-family: 'Roboto Condensed';
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  border: 3px solid rgba(255, 255, 255, 0);
}

.category:hover {
  filter: brightness(150%);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.category-active {
  border: 3px solid rgb(255, 255, 255);
}

.nourriture {
  background-color: #FEEA00;
}

.voyage {
  background-color: #0FDBCA;
}

.quotidien {
  background-color: #9DCC4E;
}

.culture {
  background-color: #186B57;
}

.sortie {
  background-color: #6E2DBE;
}

.balade {
  background-color: #BC9BDB;
}

.anecdote {
  background-color: #FF3D94;
}