@font-face {
  font-family: 'Letters for Learners';
  src: url(/font/LettersforLearners.woff2) format(woff2),
    url(/font/Letters-for-Learners.ttf) format(truetype)
}

.map {
  width: 100%;
  height: 100%;
}

.search {
  width: 41rem;
  max-width: 100%;
  padding: 1rem;
}

.title {
  width: 500px;
  max-width:100%;
}

.btn {
  border-radius: 4rem;
}

.preview {
    background-color: lightgray;
    /* width: 6rem !important;
    height: 6rem !important; */
    min-width: 20px;
    min-height: 20px;
    width: 100%;
    height: 100%;
}

.card-container {
  width: 30rem;
  height: 20rem;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
}

.btn-nav {
  margin-right: 20pt;
}

.btn-round {
  margin-top: 10pt;
  margin-bottom: 10pt;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  background-color: white;
  border-radius: 100%;
  width: 40pt !important;
  height: 40pt !important;
}

.btn-round:hover {
  background-color: yellow;
}

.info {
  display: none;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  pointer-events: auto;
  border: 0;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
  animation: fadein 0.6s;
    -moz-animation: fadein 0.6s; /* Firefox */
    -webkit-animation: fadein 0.6s; /* Safari et Chrome */
    -o-animation: fadein 0.6s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
      margin-top: 3em;
  }
  to {
      opacity:1;

  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
      margin-top: 3em;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
      margin-top: 3em;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
      margin-top: 3em;
  }
  to {
      opacity: 1;
      margin-top: auto;
  }
}

.feature-tags {
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}


.feature-day {
  font-size: smaller;
  color: #000;
  margin-left: 0.2rem;
  font-family: 'Letters for Learners';
  font-size: 2.2rem;
}

.feature-date {
  font-size: smaller;
  color: #000;
  font-weight: 400;
  margin-left: 1rem;
  font-family: 'Roboto condensed';
  font-size: 1.2rem;
}


.info-desc {
  font-size: medium;
  font-family: 'Roboto condensed';
}



.bouton-post {
  border-radius: 1.5rem;
  background-color: #FF6E6E;
  border: none;
  font-family: 'Roboto condensed';
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.bouton-post  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bouton-post  span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bouton-post:hover span {
  padding-right: 25px;
}

.bouton-post:hover span:after {
  opacity: 1;
  right: 0;
}



/* Catégories */

.reset-button {
    width: 1.8rem;
    height: 1.8rem;
    color: #FFF;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 1rem;
    margin-right: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: #a0a0a0;
}

.reset-button img {

  width: 15px;
  height: 15px ;

}

.reset-button:hover{

  filter: brightness(120%);

}

.category {
    border-radius: 1rem;
    text-align: center;
    font-size: x-small;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    background-color: #AFAFAF;
    color : #FFF;
    font-family: 'Roboto Condensed';font-size: 12px;
    border: 3px solid rgba(255, 255, 255, 0);

}

.category:hover {

    filter: brightness(150%);

      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;

}

.category-active {
    border: 3px solid rgb(255, 255, 255);
}

.nourriture {
  background-color: #FEEA00;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;

}

.voyage {
  background-color: #0FDBCA;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}

.quotidien {
  background-color: #9DCC4E;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}


.culture {
  background-color: #186B57;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}

.sortie {
  background-color: #6E2DBE;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}


.balade {
  background-color: #BC9BDB;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}


.anecdote {
  background-color: #FF3D94;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000;
}
